/* ContactInfo start */
.Contact_main {
  background-color: #f3f3f3;
  border-radius: 30px;
  border-bottom-left-radius: 90px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.Contact_main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--info);
  border-radius: 30px;
  border-bottom-left-radius: 90px;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.Contact_main:hover::after {
  transform: scale(1);
}
.Contact_tittle,
.Contact_cont,
.Contact_icon,
.Contact-iconbg {
  transition: all 0.5s ease-in-out;
}
.Contact_main:hover .Contact_tittle {
  color: var(--dark) !important;
}
.Contact_main:hover .Contact_cont {
  color: white !important;
}
.Contact_main:hover .Contact-iconbg {
  background-color: var(--dark) !important;
}
.Contact_main:hover .Contact_icon {
  color: white !important;
}
@media (min-width: 355px) and (max-width: 992px) {
  .main-contact {
    margin-top: 30px !important;
  }
}
@media (min-width: 992px) {
  .main-contact {
    margin-top: 80px !important;
  }
  .move-up_lg {
    margin-top: -40px !important;
  }
}
/* ContactInfo end */

/* ContactForm start */
.ContactForm_bg {
  width: 100%;
  height: auto;
  background-image: url("https://img.freepik.com/free-vector/white-elegant-texture-background-style_23-2148432200.jpg?ga=GA1.1.960358020.1744003470&semt=ais_hybrid&w=740");
  background-size: cover;
  background-repeat: no-repeat;
}
/* ContactForm end */